# E-Commerce Sales Data Cleaning & Analysis using Pandas

## Project Overview
This project demonstrates an end-to-end data analysis workflow using Python Pandas.  
The objective is to clean raw e-commerce sales data, handle common data issues, and perform basic analysis to extract meaningful business insights.

## What This Project Covers
- Loading and inspecting raw sales data  
- Handling missing values and incorrect formats  
- Removing duplicate and invalid records  
- Creating new calculated features (Sales)  
- Performing category-wise and city-wise sales analysis  
- Understanding relationships between variables using correlation  

## Tools & Technologies Used
- **Python** – Programming language  
- **Pandas** – Data cleaning and analysis

In [2]:
import pandas as pd

In [3]:
data = {
    "Order_ID": [101, 102, 103, 104, 104],
    "Order_Date": ["2023-01-05", "2023/01/06", "2023-01-07", "2023-01-08", "2023-01-08"],
    "City": ["Delhi", "Mumbai", "Delhi", "Pune", "Pune"],
    "Category": ["Electronics", "Clothing", "Electronics", "Furniture", "Furniture"],
    "Price": [50000, 2000, -45000, 15000, 15000],
    "Quantity": [1, 2, 1, 0, 0],
    "Discount": [5, None, 10, 15, 15]
}

df = pd.DataFrame(data)
df

   Order_ID  Order_Date    City     Category  Price  Quantity  Discount
0       101  2023-01-05   Delhi  Electronics  50000         1       5.0
1       102  2023/01/06  Mumbai     Clothing   2000         2       NaN
2       103  2023-01-07   Delhi  Electronics -45000         1      10.0
3       104  2023-01-08    Pune    Furniture  15000         0      15.0
4       104  2023-01-08    Pune    Furniture  15000         0      15.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Order_ID    5 non-null      int64
 1   Order_Date  5 non-null      object
 2   City        5 non-null      object
 3   Category    5 non-null      object
 4   Price       5 non-null      int64
 5   Quantity    5 non-null      int64
 6   Discount    4 non-null      float64
dtypes: float64(1), int64(3), object(3)
memory usage: 412.0+ bytes

In [5]:
df["Discount"] = df["Discount"].fillna(0)
df

   Order_ID  Order_Date    City     Category  Price  Quantity  Discount
0       101  2023-01-05   Delhi  Electronics  50000         1       5.0
1       102  2023/01/06  Mumbai     Clothing   2000         2       0.0
2       103  2023-01-07   Delhi  Electronics -45000         1      10.0
3       104  2023-01-08    Pune    Furniture  15000         0      15.0
4       104  2023-01-08    Pune    Furniture  15000         0      15.0

In [7]:
df["Order_Date"] = pd.to_datetime(df["Order_Date"], format="mixed")
df

   Order_ID Order_Date    City     Category  Price  Quantity  Discount
0       101 2023-01-05   Delhi  Electronics  50000         1       5.0
1       102 2023-01-06  Mumbai     Clothing   2000         2       0.0
2       103 2023-01-07   Delhi  Electronics -45000         1      10.0
3       104 2023-01-08    Pune    Furniture  15000         0      15.0
4       104 2023-01-08    Pune    Furniture  15000         0      15.0

In [8]:
df=df.drop_duplicates()
df

   Order_ID Order_Date    City     Category  Price  Quantity  Discount
0       101 2023-01-05   Delhi  Electronics  50000         1       5.0
1       102 2023-01-06  Mumbai     Clothing   2000         2       0.0
2       103 2023-01-07   Delhi  Electronics -45000         1      10.0
3       104 2023-01-08    Pune    Furniture  15000         0      15.0

In [9]:
df = df[(df["Price"] > 0) & (df["Quantity"] > 0)]
df

   Order_ID Order_Date    City     Category  Price  Quantity  Discount
0       101 2023-01-05   Delhi  Electronics  50000         1       5.0
1       102 2023-01-06  Mumbai     Clothing   2000         2       0.0

In [11]:
df = df.copy()
df["Sales"] = df["Price"] * df["Quantity"]
df

   Order_ID Order_Date    City     Category  Price  Quantity  Discount  Sales
0       101 2023-01-05   Delhi  Electronics  50000         1       5.0  50000
1       102 2023-01-06  Mumbai     Clothing   2000         2       0.0   4000

In [12]:
total_sales = df["Sales"].sum()
print("Total Sales:", total_sales)

Total Sales: 54000

In [15]:
category_sales_df = df.groupby("Category")["Sales"].sum().reset_index()
category_sales_df

      Category  Sales
0     Clothing   4000
1  Electronics  50000

In [16]:
city_sales_df = df.groupby("City")["Sales"].sum().reset_index()
city_sales_df

     City  Sales
0   Delhi  50000
1  Mumbai   4000

In [17]:
df[["Price", "Quantity", "Discount", "Sales"]].corr()

          Price  Quantity  Discount  Sales
Price       1.0      -1.0       1.0    1.0
Quantity   -1.0       1.0      -1.0   -1.0
Discount    1.0      -1.0       1.0    1.0
Sales       1.0      -1.0       1.0    1.0

## Key Insights

- Electronics category generated higher sales compared to Clothing.
- Sales increased with higher quantity, showing a positive correlation.
- Discount did not strongly impact sales in this dataset.
- Proper data cleaning was essential to avoid incorrect analysis.